.register-divider {
  width: 50%;
  margin: auto;
  position: relative;
  padding: 0 30px;
}

.register-divider::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  left: 180px;
  background-color: #b6c6d5;
  top: 50%;
  transform: translateY(-50%);
}

.register-divider::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  right: 180px;
  background-color: #b6c6d5;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-menu-btn {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hamburger-menu-btn {
    display: block;
  }

  .side-hamburger {
    z-index: 10;
  }

  .sidebar-div {
    width: 280px;
    background: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
  }
}
