.hedr_logo {
  position: relative;
}

.hedr_logo_link {
  cursor: pointer;
  position: absolute;
  top: 27px;
  left: -40px;
  transform: translateY(-50%);
  width: 5em;
  z-index: 10;
}

.hedr_logo_link::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 50;
  left: 0;
  z-index: -5;
  background-color: #f47e38;
  background: linear-gradient(
    135deg,
    #96c0ff 0%,
    #6c4f9d 25%,
    #d42635 50%,
    #f58437 75%,
    #ffe295 100%
  );
  border-radius: 1000px;
  transition: transform 0.5s;
}

.hedr_logo_link > img {
  filter: brightness(0%);
  padding-top: 1.1px;
  padding: 2.1px 1px 1px 1px;
}

.popular_post {
  position: relative;
  width: 90%;
}

.popular_post_link {
  cursor: pointer;
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* top: 0; */
  width: 100%;
  z-index: 10;
}

.popular_post_link img {
  transition: transform 0.5s;
  border-radius: 100%;
  border: 8px solid black;
}

.popular_post_link img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  background-color: #141518;
  z-index: -3;
  border-radius: 1000px;
}

.popular_post_parent > div:nth-child(odd):hover img {
  transform: rotate(35deg);
}

.popular_post_parent > div:nth-child(even):hover img {
  transform: rotate(-35deg);
}

.popular_post_link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background: linear-gradient(
    135deg,
    #96c0ff 0%,
    #6c4f9d 25%,
    #d42635 50%,
    #f58437 75%,
    #ffe295 100%
  );
  z-index: -6;
  border-radius: 1000px;
  transform: rotate(0deg);
}

.popular_post_link:hover::before {
  transform: rotate(360deg);
}

.hedr_sub,
.popular_post_heading {
  text-align: center;
  color: #f58335;
  background-clip: text;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
  color: #f58335;
  background-image: linear-gradient(
    to right,
    #96c0ff 0%,
    #6c4f9d 16%,
    #d42635 33%,
    #f58437 50%,
    #d42635 67%,
    #6c4f9d 84%,
    #96c0ff 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 0 0;
  /* transition: background-position 0.6s; */
  animation: gradientMove 1.2s linear infinite;
}

.popular_post_heading {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%; /* Initial position */
  }
  100% {
    background-position: 100% 50%; /* Final position */
  }
}

.hedr_sub:hover,
.popular_post_heading:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

.hedr_logo_link:hover::before,
.popular_post_link:hover::before {
  transform: rotate(360deg);
}

.hedr_lttr {
  transition: color 1.2s;
}

.hedr_lttr:hover {
  transition: none; /* Disable transition on hover */
}

.hedr_lttr:nth-child(1):hover {
  color: #d42635;
}

.hedr_lttr:nth-child(2):hover {
  color: #fcb247;
}

.hedr_lttr:nth-child(3):hover {
  color: #6c4f9d;
}

.hedr_lttr:nth-child(4):hover {
  color: #fa766b;
}

.hedr_lttr:nth-child(5):hover {
  color: #4f1d22;
}

.hedr_lttr:nth-child(6):hover {
  color: #f58435;
}

.hedr_lttr:nth-child(7):hover {
  color: #88636f;
}

.hedr_lttr:nth-child(8):hover {
  color: #fa766b;
}

.ending_line {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px; /* Adjust the height as needed */
  width: 100vw;
  background-image: linear-gradient(
    to right,
    #96c0ff 0%,
    #6c4f9d 16%,
    #d42635 33%,
    #f58437 50%,
    #d42635 67%,
    #6c4f9d 84%,
    #96c0ff 100%
  );
  background-size: 200% 100%;
  background-position: 50% 0;
}

.vertical_line_wrapper {
  position: relative;
  display: inline-block; /* ensures proper content flow */
  /* padding: 0 40px; */
  display: flex;
  align-items: center;
}

.horizontal_line_wrapper {
  display: flex;
  justify-content: center;
  background-color: black;
  /* padding-top: 10px; */
}

.horizontal_line {
  border-radius: 100%;
  height: 2px;
  margin-top: 2px;
  width: 100vw;
  background-image: linear-gradient(
    135deg,
    rgba(230, 125, 52, 0) 0%,
    #e67d34 33.4%,
    #684c96 66.7%,
    rgba(104, 76, 150, 0) 100%
  );
}

.horizontal_line_second {
  width: 95vw;
}

.vertical_line {
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(230, 125, 52, 0) 0%,
    #e67d34 33.4%,
    #684c96 100%,
    rgba(104, 76, 150, 0) 0%
  ); /* define gradient */
  height: 120%; /* fill entire wrapper height */
  width: 2px; /* set actual border width */
}

.vertical_line_second {
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(230, 125, 52, 0) 0%,
    #e67d34 0%,
    #684c96 66.7%,
    rgba(104, 76, 150, 0) 100%
  ); /* define gradient */
  height: 120%; /* fill entire wrapper height */
  width: 2px; /* set actual border width */
}

.card_wrap {
  background-image: url("https://www.webdesignerdepot.com/assets/ui/brand/bg2.webp"),
    url("https://www.webdesignerdepot.com/assets/ui/brand/bg3.webp");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% 100%;
  background-color: black;
}

.card_img_one {
  position: relative; /* Add position relative */
}

.card_img_one > a {
  z-index: 100;
}

.overlay {
  position: absolute; /* Position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #f58435 0%, #f23540 100%);
  opacity: 0.3;
  z-index: 1; /* Ensure the overlay is above the image */
  transition: opacity 0.3s;
}

.overlay:hover {
  opacity: 0;
}

.card_img_one img {
  transition: transform 0.5s ease; /* Smooth transition effect */
}

.card_img_one:hover img {
  transform: scale(1.3);
}

.individual_card:hover img {
  transform: scale(1.3);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.footer-main {
  background: #070708
    url("https://www.webdesignerdepot.com/assets/ui/brand/bg-footer.webp")
    no-repeat center top;
  background-size: cover;
  /* display: flex;
  flex-direction: column; */
  padding: 6.4rem 4.4rem;
  color: white;
}

.footer-heading {
  font-family: degular, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2rem;
  display: inline;
  color: #f58335;
  background-image: linear-gradient(
    135deg,
    #96c0ff 0%,
    #6c4f9d 16%,
    #d42635 33%,
    #f58437 53%,
    #d42635 67%,
    #6c4f9d 84%,
    #96c0ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position 0.6s;
}

.footer-heading:hover {
  background-position: 100% 0;
}

.input-email {
  width: 580px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 1.4em 1.875em;
  border-radius: 0.625em;
}

.submit-div {
  position: relative;
  z-index: 10;
}

.submit-div > input {
  font-family: degular, sans-serif;
  font-weight: 600;
  /* font-style: normal; */
  font-size: 1.812rem;
  color: #fff;
  padding: 12px 30px;
  cursor: pointer;
}

.submit-div::before {
  content: "";
  /* display: inline-block; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    135deg,
    #96c0ff 0%,
    #6c4f9d 17%,
    #d42635 34%,
    #f58437 50%,
    #d42635 67%,
    #6c4f9d 84%,
    #96c0ff 100%
  );
  background-size: 200% 100%;
  transition: background-position 0.6s;
  z-index: -10;
  border-radius: 0.6875em;
}

.submit-div:hover::before {
  background-position: 100% 0%;
}

.submit-div::after {
  content: "";
  /* display: inline-block; */
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background-color: #000;
  z-index: -5;
  border-radius: 0.625em;
}

.footer-icons {
  width: 450px;
  margin: auto;
  position: relative;
  padding: 0 30px;
}

.icon:hover {
  cursor: pointer;
  color: rgb(0, 170, 255);
}

.footer-icons::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 470px;
  background-color: #b6c6d5;
  top: 50%;
  transform: translateY(-50%);
}

.footer-icons::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  right: 470px;
  background-color: #b6c6d5;
  top: 50%;
  transform: translateY(-50%);
}
